<!DOCTYPE html>
<html lang="zh-ch">
<head>
	<meta http-equiv="content-Type" content="text/html;charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
	<title>登陆</title>
	<link rel="stylesheet" type="text/css" href="<?PHP echo  base_url('/static/css/bootstrap.min.css');?>" />
	<link rel="stylesheet" type="text/css" href="<?PHP echo base_url('/static/css/login.css');?>" />
</head>
<body>
	<section class="form-wrap">
		<header>
			<h3>云端备课系统</h3>
		</header>
		<form id="login-form" action="" class="form-horizontal" novalidate="novalidate">

		  <div class="form-group">
		    <label for="login-name" class="col-sm-4 control-label">姓名：</label>
		    <div class="col-sm-6">
		      <input maxlength="20" type="text" class="form-control input-exec" id="login-name" placeholder="请输入姓名">
		    </div>
		  </div>

		  <div class="form-group">
		    <label for="login-pwd" class="col-sm-4 control-label">密码：</label>
		    <div class="col-sm-6">
		      <input maxlength="20" type="password" class="form-control input-exec" id="login-pwd" placeholder="请输入密码">
		    </div>
		  </div>

		  <div class="form-group">
		  	<label for="login-role" class="col-sm-4 control-label">登陆身份：</label>
			<select id="login-role" class="form-control role-select-wrap">
			  <option value="teacher">教师</option>
			  <option selected="selected" value="student">学生</option>
			</select>
			<a href="<?php echo base_url('register');?>">点击注册</a>
		  </div>

		  <div class="form-group submit-wrap">
		      <button id="submit-btn" type="button" class="btn btn-block btn-primary">登陆</button>
		  </div>

		</form>
	</section>
	<script type="text/javascript" src="<?PHP echo  base_url('/static/js/jquery-2.2.1.min.js');?>"></script>
	<script type="text/javascript" src="<?PHP echo  base_url('/static/js/bootstrap.min.js');?>"></script>
	<script type="text/javascript" src="<?PHP echo base_url('/static/js/login.js');?>"></script>
</body>
</html>