<div class="col-xs-12">
    <div class="container">
        <!-- Button trigger modal -->

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">新建签到</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-group form-group-sm">
                                <label class="col-sm-2 control-label" for="sign_name">签到名称</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" id="sign_name" value="<?php echo date('Y-m-d',time()).'签到';?>">
                                    <input type="hidden" id="lesson_id" value="<?php echo $lesson_id;?>">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <div class="col-sm-10 col-xs-offset-2">
                                    <button class="btn-primary" type="button" id="submit-sign">创建</button>
                                </div>
                            </div>
                            <!--<div class="form-group form-group-sm">-->
                                <!--<label class="col-sm-2 control-label" for="sign_code">签到验证码</label>-->
                                <!--<div class="col-sm-10">-->
                                    <!--<input class="form-control" type="text" id="sign_code" value="" placeholder="六位数字">-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group form-group-sm">-->
                                <!--<label class="col-sm-2 control-label" for="sign_lesson">选择课程</label>-->
                                <!--<div class="col-sm-10">-->
                                    <!--<select id="sign_lesson">-->

                                    <!--</select>-->
                                <!--</div>-->
                            <!--</div>-->
                        </form>
                    </div>
                    <!--<div class="modal-footer">-->
                        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <!--<form class="form-horizontal">-->
            <!--<div class="form-group form-group-sm">-->
                <!--<label class="col-sm-2 control-label" for=""></label>-->
                <!--<div class="col-sm-10">-->
                    <!--<select class="form-control" id="">-->
                        <!--<option></option>-->
                    <!--</select>-->
                <!--</div>-->
            <!--</div>-->
        <!--</form>-->
        <table class="table table-bordered table-hover">
            <thead>
                <th>签到名称</th>
                <th>签到时间</th>
                <th>签到状态</th>
                <th>操作</th>
            </thead>
            <tbody>
                <tr>
                    <td colspan="4">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                            新建签到
                        </button>
                    </td>
                </tr>
            <?php
                if(isset($signList)&&!empty($signList)&&is_array($signList)){
                    foreach($signList as $key =>$value){
                        ?>
                        <tr>
                            <td><?php echo $value['sign_name'] ;?></td>
                            <td><?php echo $value['timestamp'] ;?></td>
                            <td><?php echo $value['status']=='begin'?'开始':'结束';?></td>
                            <td><a href="<?php echo base_url('sign/signStudent?sign_id='.$value['id']);?>">考勤</a> || <a href="<?php echo base_url('sign/getSignExcel?sign_id='.$value['id']) ;?>">导出考勤数据</a></td>
                        </tr>
                        <?php
                    }
                }else{
                    ?>
                    <tr>
                        <td colspan="4">无签到记录</td>
                    </tr>
                    <?php
                }
            ?>
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('#submit-sign').click(function(){
            var lesson_id = $('#lesson_id').val();
            var sign_name = $('#sign_name').val();
            var _data = {};
            _data['lesson_id'] = lesson_id;
            _data['sign_name'] = sign_name;
            console.log(_data);
            $.post(base_url+'/sign/create_sign',_data,function(data){
                var result  = $.parseJSON(data);
                if(result['status'] == false){
                    alert('添加错误，刷新后重试');
                }else{
                    location.reload();
                }
            });
        });
    });
</script>