<div class="container">
    <div class="row">
        <div class="col-xs-4 box-border">
            <div class="thumbnail">
                <img class="user-image" src="<?php echo base_url('static/images/images.jpg');?>" alt="...">
                <div class="caption text-center">
                    <h3>用户名</h3>
                    <p>学号</p>
                </div>
            </div>
        </div>
        <div class="col-xs-8 box-border">
            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">基本信息</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">密码</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="images" role="tab" data-toggle="tab">密码</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <form>
                            <div class="form-group">
                                <label for="email-input">邮箱</label>
                                <input type="email" class="form-control" id="email-input" placeholder="邮箱">
                                <input type="hidden" name="teacher_id" value="">
                            </div>
                            <div class="form-group">
                                <label for="username-input">姓名</label>
                                <input type="text" class="form-control" id="username-input" placeholder="用户名">
                            </div>
                            <div class="form-group">
                                <label for="code-input">学号</label>
                                <input type="text" class="form-control" id="code-input" placeholder="学号">
                            </div>
                            <button type="submit" class="btn btn-default" id="change-info">修改</button>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile">
                        <form>
                            <div class="form-group">
                                <label for="old_passwd">旧密码</label>
                                <input type="password" class="form-control" id="old_passwd">
                            </div>
                            <div class="form-group">
                                <label for="new_passwd">新密码</label>
                                <input type="password" class="form-control" id="new_passwd">
                            </div>
                            <button type="submit" class="btn btn-default" id="change-passwd">修改</button>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="images">
                        <form>
                            <div class="form-group">
                                <label for="exampleInputFile">上传头像</label>
                                <input type="file" id="exampleInputFile">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript">
    $(document).ready(function(){
        $('#change-info').click(function(){
            var _data={};
            var _username=$('#userinfo-input').val();
            var _email=$('#email-input').val();
            var _code=$('#code-input').val();
            var url='';
            if(_username ==''){
                $('#userinfo-input').parents(".form-group").toggleClass("has-error");
                return false;
            }
            if(_email == ''){
                $('#email-input').parents(".form-group").toggleClass("has-error");
                return false;
            }
            if(_code == ''){
                $('#code-input').parents(".form-group").toggleClass("has-error");
                return false;
            }
            $.post();

        });
    });
</script>
