.nav-default { background-color: #474747; height: 3.5em; line-height: 3.5em; padding: 0 5% 0 2% ; color: #fff; }
.nav-default .dropdown { float: right; }
.nav-default a { color: #fff; }
.nav-default a:link { color: #fff; }
.nav-default a:hover,a:focus { text-decoration: none; }
.nav-default .open>a, .nav .open>a:focus, .nav .open>a:hover { background-color: transparent; }

.course-wrap { margin-top: 4em; padding-left: 3em; }
.course-content { width: 100%; padding: 3%; }
.course-content .no-course { font-size: 2em; line-height: 3; text-align: center; margin-top: 3em; }
.course-content .has-course { font-size: 0; width: 90%; margin: 0 auto; }
.course-content .has-course li { margin-left: 3%; margin-top: 5%; font-size: 16px; display: inline-block; width: 30%; border: 1px solid #494949; }
.course-content .has-course li .course-btn { display: table; width: 100%; }
.course-content .has-course li .course-btn a { display: table-cell; width: 50%; text-align: center; }
.course-content .has-course li .course-tips { display: block; width: 100%; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.box-border{border: solid 1px #CCCCCC;padding: 15px;margin-top: 15px;}
.user-image{width: 120px;hight:120px;border-radius: 120px;}
.lesson-code{font-size: large;color: #333333;margin: auto 5px;}
/*.nav-default{background-color: #ffffff}*/